{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %} Оформить заказ {{ object }} {% endblock title %}
{% block body %}
  <div class="container">
    <h1>Оформить заказ</h1>
    <h5>Содержимое заказа:</h5>
    <table class="table">
    <tr>
    <td>Название</td><td>Количество</td><td>Цена</td><td>Действия</td>
    </tr>
    {% for product_in_cart in object.cart.books.all %}
    <tr>
    <td>{{ product_in_cart.book.name }}</td><td>{{ product_in_cart.quantity }}</td><td>{{ product_in_cart.price }} BYN</td>
    <td><a href="{% url 'cart:add' %}?book_pk={{ product_in_cart.book.pk }}"><i class="fas fa-edit"></i></a> 
    <a href="{% url 'cart:delete' product_in_cart.pk %}"><i class="fas fa-trash-alt"></a></td>
    </tr>
    {% endfor %}
    </table>
    <p>Стоимость: {{ object.cart.price }} BYN</p>
    <form action="" method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit">Оформить</button>
    </form>

  </div>
{% endblock body %}