{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block body %}
<br><br>
<div class="container">
<h1>Авторизация</h1>
{% if form.errors %}
<p>Ваши логин и пароль не совпадают. Попробуйте еще раз.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}
{{ form|crispy }}
<input type="submit" value="Войти" class="btn btn-success">
<input type="hidden" name="next" value="{{ next }}">
</form>

{# Assumes you setup the password_reset view in your URLconf #}
<p><a href='{% url 'password_reset' %}'>Забыли пароль?</a></p>
</div>
{% endblock %}