{% extends "base.html" %}
{% load static %}
{% block title %} Список книг {% endblock title %}
{% block body %}
<div class="container">
<h1>Все книги</h1>
  {% if  user.is_staff %}
  <a href="{% url 'books:create' %}" class="btn btn-success">Добавить новую книгу</a>
  {% else %}
  {% endif %}
  <table class="table bordered-table">
  <tr>
  <th>Номер</th>
  <th>Название</th>
  <th>Действия</th>
  {% for row in object_list %}
  <tr>
    <td>{{ row.pk }}</td>
    <td><a href="{% url 'books:detail' row.pk %}">{{ row.name }}</a></td>
    {% if  user.is_staff %}
    <td>
    <a href="{% url 'books:update' row.pk %}"><i class="fas fa-edit"></i></a>
    <a href="{% url 'books:delete' row.pk %}"><i class="fas fa-trash-alt"></i></a>
    </td>
  {% endif %}
    <td>
    <a href="{% url 'cart:add' %}?book_pk={{ row.pk }}">Добавить в корзину</a>
    </td>
  </tr>
  {% endfor %}
  </table>
{% include "paginator.html" %}
</div>
{% endblock body %}